<h1>My tasks</h1>
<br>

<div class="form-check m-3">
  <% @tasks.each do |task|%>
  <input class="form-check-input" type="checkbox" value="" checked>
  <li style="list-style: none;"><%= link_to task.title, task_path(task) %></li>
  <%end%>
</div>